.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
}


.navContainer{
    display: grid;
    grid-template-columns: 33.5% 33% 33.5%;
    align-items: center;
    box-shadow: 0px 10px 10px grey;
    background-color:#f5ecd5;
}

.navItem{
    margin: 8px;
}

.navLinks a{
    padding: 20px;
}

.iconContainer img{
    width: 20px;
    padding: 15px;
}
